.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 220px;
  gap: 12px;
  padding: 20px;
}

.box {
  background: rgba(255,255,255,0.04);
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* POPUP */

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.popup-content {
  background: #0d2533;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

.popup-input {
  display: flex;
  margin-top: 10px;
}
